.gameBoard {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doneButton{
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 70px;
    height: 70px;
}

.defenseCard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.playArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    align-items: center;
    justify-items: center; 
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 40vw; 
    height: 40vh; 
}


.mainDeck{
    position: absolute;
    top: 50%;
    right: 20%;
    transform: rotate(90deg);
    transform: translate(-50%, -50%);
}

.deck{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: rotate(90deg);
}
