.card {
    margin: 10px;
    width: 120px;
    height: 200px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card.hearts, .card.diamonds {
    color: red;
}

.card-corner {
    position: absolute;
    width: 20px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-corner .card-value {
    font-size: 20px;
}

.card-corner .card-suit {
    font-size: 30px;
}

.top-left {
    top: 6%;
    left: 2%;
}

.bottom-right {
    bottom: 6%;
    right: 2%;
    transform: rotate(180deg);
}

.card-back {
    width: 100%;
    height: 100%;
    background: url('../assets/images/Playing\ Card\ Back\ Durak.png') no-repeat center;
    background-size: 240px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    backface-visibility: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.card-middle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-middle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}



.card-middle-container.rank-6-8 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card-middle-suit.rank-6-8, .card-middle-suit.rank-9-10{
    font-size: 45px;
}

.card-middle-suit {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.card-middle-container.rank-9-10 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.face-card-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
